<configuration>
    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>
    <property name="PROJECT_LOG" value="tmp" />
    <!-- JUL/JDK14 to Logback bridge -->
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${PROJECT_LOG}/myApp.log</file>
        <encoder>
            <pattern>%date %.-3level %-25logger{0} %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %.-3level %-25logger{0} %msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>
    <root level="error">
        <appender-ref ref="FILE"/>
    </root>
</configuration>