@import url("https://fonts.googleapis.com/css?family=Fira+Sans|Francois+One|Roboto");

body {
  width: 100%;
  min-height: 100px;
  position: relative;
  padding-bottom: 100px;
}

a {
  text-decoration: none;
  color: #5f6366;
}

a:hover {
  color: #517db3;
}

.nav-head {
  height: 50px;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  top: 0;
  padding: 5px;
  background: white;
  z-index: 100;
}

.nav-item {
  display: flex;
  align-items: center;
  margin: 0 1px 0 1px;
  cursor: pointer;
  padding: 0 5px;
}

.nav-item:hover {
  background: black;
  color: white;
  border-radius: 8px;
}

.nav-item i {
  position: relative;
  left: -1px;
}

.nav-icon {
  font-family: "Fira Sans", sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  padding: 0 15px 0 10px;
}

.main-content {
  position: relative;
  top: 50px;
  width: 100%;
}

.side-content {
  width: 200px !important;
}

.content-section {
  width: 90%;
  margin: 0 auto;
  max-width: 1280px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.content-section .row {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.guild-content {
  width: 60%;
  min-width: 500px;
}

.list {
  margin-bottom: 15px;
}

.watchlist li {
  height: 120px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  margin: 5px 0;
  background: #abd0fe;
  border-radius: 3px;
}

.watchlist li:hover {
  background: #81abdf;
  cursor: pointer;
}

.watchlist li:hover img {
  top: -20%;
}

.watchlist li img {
  height: 120%;
  position: absolute;
  right: 0;
  top: 0;
  transition: all ease 0.3s;
}

.info-date {
  position: relative;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-date .date-day {
  font-size: 1.75em;
  font-family: "Fira Sans", sans-serif;
  font-weight: bold;
}

li .info-title {
  font-size: 1.7em;
}

.list-wig .wig-item {
  padding: 10px;
  margin: 5px 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.035),
    0 3px 1px -2px rgba(0, 0, 0, 0.03), 0 1px 5px 0 rgba(0, 0, 0, 0.03) !important;
}

.list-discuss {
  width: 100%;
  height: 100%;
  position: relative;
}

.list-discuss li {
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  position: relative;
  display: flex;
  margin: 15px 0;
}

.discusss .thumbnail {
  width: 50px;
  height: 50px;
  background: #ececec;
}

.discusss .main-info {
  width: 50%;
  margin: 0 30px;
}

.main-info .title {
  width: 100%;
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 1.1em;
}

.main-info .author,
.time,
.comments {
  font-size: 0.9em;
  color: #b1b1b1;
  margin-right: 5px;
}

.discusss .followers {
  display: flex;
  position: absolute;
  justify-content: flex-end;
  right: 10px;
}

.followers .follower {
  height: 30px;
  width: 30px;
  border: 1px solid white;
  background: #ececec;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: -5px;
}

.followers .follower img {
  width: 100%;
  height: 100%;
}

.followers .total {
  font-size: 0.8em;
}

.event-timeline {
  overflow: hidden;
  position: relative;
}

.timeline {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  position: relative;
}

.timeline .event {
  margin: 0 50px;
  position: relative;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #2b3546;
}

.event:nth-child(even) .event-info:before {
  content: "";
  position: absolute;
  left: -5px;
  height: 150%;
  top: -50%;
  border-left: 1px solid #2b354648;
}

.event:nth-child(odd) .event-info:before {
  content: "";
  position: absolute;
  left: -5px;
  height: 150%;
  bottom: -50%;
  border-left: 1px solid #2b354648;
}

.event .event-info {
  position: absolute;
  width: 150px;
  left: 12px;
}

.event:nth-child(even) .event-info {
  bottom: -100px;
}

.event:nth-child(odd) .event-info {
  top: -100px;
}

.event .review {
  font-size: 0.6em;
  color: #b1b1b1;
  max-height: 30px;
  overflow: hidden;
}

.timeline::before {
  content: " ";
  width: 100%;
  height: 2px;
  background-color: #2b354681;
  position: absolute;
}

.event-info .date {
  font-family: "Francois One", sans-serif;
  font-weight: bold;
  font-size: 1.2em;
}

.event-info .event-name {
  font-family: "Francois One", sans-serif;
  font-size: 1em;
}

.vol-list {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
}

.vol-item {
  max-width: 250px;
  margin: 10px -150px 10px 0;
}

.vol-col {
  position: relative;
}

.vol-background {
  width: 120%;
  background: black;
  position: absolute;
  height: 280px;
  margin-top: 20px;
  overflow: hidden;
}

.vol-background::after {
  content: "";
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
}

.vol-background img {
  width: 110%;
  filter: blur(5px);
  margin: -5px -10px -10px -5px;
}

.order-2 {
  opacity: 0.7;
  pointer-events: none;
  transform: perspective(200px) translateZ(-20px);
}
.order-3 {
  opacity: 0.6;
  pointer-events: none;
  transform: perspective(200px) translateZ(-30px);
}

.vol-tab {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  border-bottom: 2px solid #b1b1b19a;
}

.vol-tab li {
  padding: 5px 10px;
  position: relative;
  display: flex;
  justify-content: center;
}

.vol-tab li:hover {
  background: #5463803b;
  cursor: pointer;
}

.vol-tab li:active {
  background: #44516b8a;
}

.vol-tab .cur-tab:before {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  background: #2b354681;
  bottom: -2px;
  transition: all ease 1s;
}

.vol-tab .tab-left:before {
  animation: tabShowLeft ease 0.3s;
}

.vol-tab .tab-right:before {
  animation: tabShowRight ease 0.3s;
}

@keyframes tabShowLeft {
  from {
    left: -50%;
  }
  to {
    left: 0;
  }
}

@keyframes tabShowRight {
  from {
    right: -50%;
  }
  to {
    right: 0;
  }
}

.vol-content {
  height: auto;
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  top: 30px;
}

.vol-card {
  display: flex;
  width: 100%;
  position: relative;
  flex-wrap: wrap;
}

.vol-cover {
  min-width: 200px;
}

.vol-cover img {
  width: 150px;
  position: relative;
  left: 20px;
  bottom: 30px;
}

.chap-list {
  position: relative;
  margin: 5px;
  display: flex;
  align-content: center;
  flex-direction: column;
}

.chap-list .vol-title {
  font-size: 2em;
  color: #6d767e;
  font-weight: bold;
  width: 100%;
}

.chap-list a {
  padding: 5px;
  font-size: 1.2em;
  display: inline-block;
}

.chap-list .chapter:before {
  content: "◊";
  margin-right: 5px;
  font-size: 0.8em;
}

.chap-list a:hover {
  color: black;
}

.vol-banner {
  width: 30%;
  position: absolute;
  right: 0;
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.vol-banner .background-banner {
  height: 100%;
  filter: blur(0.5rem);
}

.vol-banner .main-banner {
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 5;
}

.pagination {
  margin-top: 20px;
}

.pagination li a {
  font-size: 0.9em;
}

.comment-section {
  display: block;
  position: relative;
  padding: 5px;
  transition: all ease 0.3s;
  overflow: hidden;
  height: 0px;
}

.new-message textarea {
  height: 100px;
  border: 1px solid #26a69a;
}
.comment-section h2 {
  color: #e0e0e0;
  font-size: 1.75em;
}

.btn-set {
  position: relative;
  width: 100%;
  text-align: right;
  margin-top: 5px;
}
.btn-set a {
  margin-right: 5px;
}

.message {
  padding: 5px;
  margin-top: 10px;
}

.message .mess-header {
  font-size: 0.8em;
  width: 100%;
}

.mess-header .mess-owner {
  display: inline-block;
  font-size: 1.25em;
  font-weight: bold;
  color: #f5d9bf;
}

.mess-header .mess-date {
  display: inline-block;
  margin-left: 5px;
}

.mess-set {
  font-size: 0.9em;
  padding-left: 15px;
  font-weight: bold;
}

.mess-set a {
  color: #84b0fc;
}

.mess-rep {
  padding-left: 20px;
  margin-top: 5px;
}

.mess-rep .message {
  border-left: 2px solid #a8afb4;
  padding-left: 10px;
}

.edit-section {
  margin-top: 60px;
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.main-section {
  width: 70%;
  margin: 5px;
  min-width: 400px;
}

.nav-section {
  width: 15%;
  min-width: 250px;
}

.main-section .post-title {
  border: none !important;
  margin: 5px !important;
  font-size: 1.75em !important;
  font-family: "Francois One" !important;
  color: #5b6268 !important;
}

.post-content {
  max-height: 80%;
  min-height: 400px;
  border: none;
  padding: 5px;
}

.collection-header h4 {
  font-size: 1.4em;
  font-weight: bold;
}

/* PROFILE PAGE */

.info-section {
  position: relative;
  height: 200px;
  padding: 10px;
}

.info-section .ava-holder {
  position: absolute;
  right: 10px;
  top: 10px;
  min-height: 100px;
  width: 150px;
}

.ava-holder img {
  width: 100%;
  height: auto;
}

.ava-holder .info-name {
  font-family: "Francois One" !important;
  text-align: center;
  font-size: 1.5em;
}

.ava-holder .info-comp {
  width: 100%;
  display: flex;
}

.info-comp .info-type {
  font-size: 0.8em;
  font-weight: bold;
  padding-top: 5px;
  font-family: "Fira Sans";
  margin-right: 10px;
}

.info-comp .info-content {
  font-size: 1.2em;
}

.info-section .detail-info {
  background: #a8afb4;
  width: 80%;
  height: 100%;
}

.custom-bar {
  position: absolute;
  right: 0;
  max-width: 300px;
  min-width: 200px;
  width: 80%;
  padding: 5px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.custom-bar .custom-img {
  height: 40px;
  width: 40px;
  border-radius: 5px;
  overflow: hidden;
}

.board-noti {
  font-size: 0.85em;
  margin-right: 20px;
  font-family: "Fira Sans";
  position: relative;
  font-weight: bold;
  padding: 3px 10px 3px 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.board-noti > div {
  font-size: 0.9em;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  font-weight: normal;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -10px;
  top: -10px;
  display: flex;
  background: rgb(197, 61, 61);
  color: white;
}

.board-noti ul {
  display: flex;
  position: absolute;
  top: 15px;
  right: 0px;
  width: 300px;
  max-width: 40vw;
  background: white;
  flex-direction: column;
}

.board-noti ul li {
  position: relative;
  display: flex;
  padding: 8px;
}

.board-noti ul li:hover {
  background: #a8afb449;
  cursor: pointer;
}

.board-noti li img {
  height: 40px;
  width: 40px;
  margin-right: 5px;
}

.my-profile .custom-img img {
  width: 100%;
  height: 100%;
}

.board-noti .noti-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.board-noti .noti-content .board-noti-time {
  font-weight: normal;
  font-size: 0.9em;
}

/* PROFILE PAGE */

.info-section {
  position: relative;
  height: 200px;
  padding: 10px;
}

.info-section .ava-holder {
  position: absolute;
  right: 10px;
  top: 10px;
  min-height: 100px;
  width: 150px;
}

.ava-holder img {
  width: 100%;
  height: auto;
}

.ava-holder .info-name {
  font-family: "Francois One" !important;
  text-align: center;
  font-size: 1.5em;
}

.ava-holder .info-comp {
  width: 100%;
  display: flex;
}

.info-comp .info-type {
  font-size: 0.8em;
  font-weight: bold;
  padding-top: 5px;
  font-family: "Fira Sans";
  margin-right: 10px;
}

.info-comp .info-content {
  font-size: 1.2em;
}

/* DRAFT PANEL */

.dir-bar {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  padding: 0 5px 0 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -5px rgba(0, 0, 0, 0.12), 0 -1px 5px -3px rgba(0, 0, 0, 0.2);
}

.dir-bar .address-text {
  padding: 10px;
  font-size: 0.9em;
  font-family: "Fira Sans";
  font-weight: bold;
}

.list-section {
  width: 100%;
  position: relative;
  display: flex;
}

.info-section .detail-info {
  background: #a8afb4;
  width: 80%;
  height: 100%;
}

.list-section .sub-group {
  position: relative;
  margin-right: 20px;
  width: auto;
}

.title-section {
  margin-bottom: 20px;
  max-width: 80%;
}

.tab-section {
  display: flex;
}

.tab-section li {
  padding: 5px;
  font-size: 0.8em;
  cursor: pointer;
  font-family: "Francois One";
}

.tab-section .active-tab {
  background: #26a69a;
  color: white;
}

/* Comment Bar Big */
.comment-bar-big {
  display: flex;
  width: 100%;
  position: fixed;
  bottom: 0;
  align-items: center;
  z-index: 10;
  color: white;
  flex-wrap: wrap;
}

.other-comment {
  width: 100%;
  background: #42484e;
}

.other-comment .comment-msg {
  background: #616161;
  cursor: pointer;
  display: flex;
  position: relative;
}

.comment-msg > div {
  font-weight: bold;
  font-size: 0.9em;
  display: flex;
  align-items: center;
  padding: 5px;
}

.comment-msg i {
  margin-right: 5px;
}

.my-comment {
  display: flex;
  width: 100%;
  padding: 5px;
  height: 40px;
  align-items: center;
  background: #424242;
}

.my-comment a {
  right: 10px;
  position: absolute;
}

.my-comment .comment-content {
  display: flex;
  align-items: center;
  width: 100%;
}

.my-comment textarea {
  width: 100%;
  height: 100%;
  color: white;
  border: none;
  overflow: hidden;
}

textarea,
select,
input,
button {
  outline: none;
}

.comment-profile {
  padding: 0 15px 0 5px;
  display: flex;
  align-items: center;
  height: 100%;
  border-right: 1px solid #757575;
  font-size: 0.9em;
}

.comment-profile img {
  height: 100%;
  border-radius: 5px;
  margin-right: 5px;
}

.comment-profile span {
  font-family: "Fira Sans";
  color: #f57c00;
  font-weight: bold;
}

#prompt-cursor:before {
  content: "❚";
  font-weight: bold;
  font-size: 1.2em;
}

#box-maximize-btn {
  position: absolute;
  right: 5px;
  top: 5px;
  background: #424242;
  padding: 3px;
  cursor: pointer;
}

.tab-list {
  width: 400px;
  display: flex;
  margin: 0 0 0 10px;
  position: absolute;
  bottom: 0;
  left: 100px;
  box-shadow: none;
}
.tab-list li {
  text-decoration: none;
  color: black;
  padding: 0 5px 0 5px;
  background: #424242;
  border-radius: 0 5px 0 0;
  color: #f5f5f5;
  font-size: 0.9em;
  margin-right: 2px;
}

/* READING VIEW */
.read-view {
  width: 100%;
  height: 100%;
  margin-top: 60px;
  position: relative;
}

.read-content h3,
h4 {
  font-weight: bold;
  color: #424242;
}

.read-content h3 {
  margin-bottom: 50px;
}

.read-content h4 {
  font-size: 1.5em;
}

.read-content p {
  font-size: 1.3em;
  --x-height-multiplier: 0.375;
  --baseline-multiplier: 0.17;
  letter-spacing: 0.01rem;
  font-style: normal;
  line-height: 1.58;
  letter-spacing: -0.003em;
}

.read-content img {
  width: auto;
  height: 100%;
}

.read-content .img-holder {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.read-content .img-holder img {
  width: 80%;
}

/* Noti */
.noti-box {
  position: fixed;
  display: flex;
  min-width: 250px;
  z-index: 100;
  background: #23b6a7de;
  right: 0;
  top: 70px;
  color: #424242;
  font-family: "Fira Sans", sans-serif;
}

.noti-box .icon-type {
  position: relative;
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
}

.noti-box span {
  display: block;
  font-weight: bold;
  font-size: 1.2em;
  margin: 5px 0;
}

.noti-box .noti-msg {
  margin-bottom: 10px;
}

/* Animation */
.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.slide-in-right {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.fade-out {
  -webkit-animation: fade-out 1s ease-out both;
  animation: fade-out 1s ease-out both;
}

.blink-1 {
  -webkit-animation: blink-1 1.5s infinite both;
  animation: blink-1 1.5s infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2018-10-17 10:14:33
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2018-10-17 10:17:9
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2018-10-17 12:52:58
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-out
 * ----------------------------------------
 */
@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2018-10-17 13:34:20
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation blink-1
 * ----------------------------------------
 */
@-webkit-keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
@keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

/* MOBILE RESPONSIVE */
@media only screen and (max-width: 600px) {
  .custom-bar {
    width: 40px !important;
    min-width: 0;
  }
}
