<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/n2n_v1</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
      <mapping class="io.elpsychris.snk.snkdemo.models.ChaptersEntity"/>
      <mapping class="io.elpsychris.snk.snkdemo.models.GenreEntity"/>
      <mapping class="io.elpsychris.snk.snkdemo.models.GenreMapEntity"/>
      <mapping class="io.elpsychris.snk.snkdemo.models.ProjectEntity"/>
      <mapping class="io.elpsychris.snk.snkdemo.models.UserEntity"/>
      <mapping class="io.elpsychris.snk.snkdemo.models.AccountsEntity"/>
      <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>