$hoverCheckboxColor: magenta;
.checkboxWrapper {
    text-transform: capitalize;
    &:hover {
        cursor: pointer;
        color: $hoverCheckboxColor;
    }
}

.antdTristateCheckbox {
    span {
        input[type=checkbox]:indeterminate {
            + span {
                border: red 1px solid;
            }
            + span:after {
                content: '\2718';
                position: unset;
                display: unset;
                border: 0px;
                opacity: 1;
                color: red;
            }
        }
    }
}

.detailResultTemplate {
    border-bottom: 1px #eee solid;
    &:hover {
        cursor: pointer;
        .title {
            color: magenta;
        }
        transform: scale(0.95);
        transition: .2s;
    }
    .cover {
        width: 100%;
        height: 200px;
        img {
            width: 100%;
            height: 100%;
        }
    }

    .title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .detailedDescrpition {
        p {
            line-height: 1.3em;
            height: 9em;
            overflow: hidden;
        }
    }
}

.gridResultTemplate {
    padding: 1% 1% 0px 1%;
    transition: .2s;
    .cover {
        width: 100%;
        height: 200px;
        img {
            width: 100%;
            height: 100%;
            border-radius: 5px;
        }
    }
    &:hover {
        cursor: pointer;
        transform: scale(0.95);
    }
    .info {
        position: absolute;
        bottom: 0;
        background: rgba(0, 0, 0, 0.2);
        width: 98%;
        .title {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        a {
            color: #eee;
        }
    }
}

